.pulse-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff; 
     color: white; 
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

  }



.currentLessonDiv h1 {
    color: #3f51b5;
    width: 1200px;
}


.sumbitExe {
    height: 1.5cm ;
    width: 50px;
    height: 47px;
}

.labelExe {
    height: 40px;
    
}
.exeDiv{
    margin-left: 25%;
}

.exeDiv button {
    border-radius: 3px;
    width: 80%;
    background-color: #007bff;
    color: white;
    font-size: 17px;
}

.exeDiv mat-form-field {
    border-radius: 3px;
    width: 80%;
}

.exeDiv mat-label {
    font-size: x-lare;
}
